.testimonialContainer {
  width: 100%;
  max-width: 56rem;
  padding: 2rem;
}

.testimonialGrid {
  display: grid;
  gap: 5rem;
}

.imageContainer {
  position: relative;
  width: 100%;
  height: 24rem;
  perspective: 1000px;
}

.testimonialImage {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1.5rem;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

.testimonialContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.name {
  font-weight: bold;
  margin-bottom: 0.25rem;
}

.designation {
  margin-bottom: 2rem;
}

.quote {
  line-height: 1.75;
}

.arrowButtons {
  display: none;
  gap: 1.5rem;
  padding-top: 3rem;
}

.mobileArrows {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  padding: 1.5rem 0 0.5rem;
}

.arrowButton {
  width: 2.7rem;
  height: 2.7rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s;
  border: none;
}

.mobileProfileImage {
  display: flex;
  justify-content: center;
  margin-bottom: 1.25rem;
}

.mobileProfileImage img {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid rgba(128, 128, 128, 0.2);
  box-shadow: 0 25px 60px rgba(0, 0, 0, 0.6);
}

@media (min-width: 768px) {
  .testimonialGrid {
    grid-template-columns: 1fr 1fr;
  }

  .arrowButtons {
    display: flex;
    padding-top: 0;
  }

  .mobileArrows {
    display: none;
  }

  .mobileProfileImage {
    display: none;
  }
}
